<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mememachine.mike.laboratorynotehelper"
          xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
                     android:maxSdkVersion="18"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name = ".GenAppContext">
        <activity android:name=".NoteListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".NotePagerActivity"
                  android:label="LaboratoryNoteHelper"
            android:parentActivityName=".NoteListActivity">
        </activity>
        <activity android:name=".NewNoteActivity"
                  android:label="LaboratoryNoteHelper"
                  android:parentActivityName=".NotePagerActivity">
        </activity>
    </application>
</manifest>
